@tailwind base;
@tailwind components;
@tailwind utilities;


main {
     min-height: 100vh;
}


td {
     text-align: center !important;
}

th {
     text-align: center !important;
}

.ul {
     display: flex;
     width: 250px;
     justify-content: space-between;
}

.header {
     padding: 10px;
}

.btn {
     margin-bottom: 10px;
}

.btn-container {
     display: flex;
     justify-content: space-between;
     margin-inline: auto;
     max-width: 100px;
}

table {
     max-width: 600px !important;
}

.table-container {
     max-width: 1500px;
     margin-inline: auto;
}

.error {
     text-align: center;
     color: red;
}