body {
     background-color: rgb(224, 224, 224);
}

.form-section {
     display: grid;
     justify-content: center;
     margin-top: 100px;
}

.input-slot {
     display: grid;
     gap: 20px;
}


.btn-submit {
     display: flex;
     justify-content: end;
     margin-top: 10px;
}