@import "../utils/mixins";
@import "../utils/vars";

header {
     min-width: 100%;
     margin-inline: auto;
}

main {
     min-height: 100vh;

     &.h-screen {
          height: auto !important;
     }

     table {
          .px-3 {
               @include mobile {
                    padding-left: 0;
                    padding-right: 0;
               }
          }
     }

}

td,
th {
     max-width: 100px !important;
     text-align: center !important;

     @include tablet {
          font-size: 10px !important;
     }

     @include mobile {
          font-size: 7px !important;
     }
}

.ant-modal-footer {
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-between;
     padding-top: 30px !important;
}

.img-big-container {
     height: 100%;
}

.button-add {
     @include tablet {
          font-size: 10px !important;
          max-height: 30px;
     }

     @include mobile {
          font-size: 8px !important;
          padding: 0;
     }
}

.cash-register-card {
     @include tablet {
          font-size: 9px !important;
     }
}

.logout {
     @include tablet {
          font-size: 11px;
     }
}