.container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     border: 1px solid white;
     padding: 5px;
     border-radius: 5px;
     max-width: 90%;
     margin: auto;
     margin-top: 10px;

     span {
          cursor: pointer;
     }
}

.inputPasswrod {
     width: 100%;
     background: transparent;
     font-size: 18px;
}