.date {
     display: grid;
     gap: 10px;
     margin-top: 20px;

     input {
          background: transparent;
          border: 1px solid;
          cursor: pointer;
     }

     div {
          display: flex;
          max-width: 155px;
          justify-content: space-between;
     }
}

.pagination {
     display: flex;
     justify-content: center;
}


// .cash-register-item {
//      display: flex;
//      justify-content: space-between;
//      align-items: center;
//      border-bottom: 1px solid white;
// }
