.nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: rgba(107, 107, 107, 0.925);
     padding: 5px;
     position: sticky;
     top: 0;

     ul {
          display: flex;
          align-items: center;
          gap: 20px;

          a {
               color: white;
          }
     }

     button {
          background-color: transparent;
          outline: 0;
          color: white;
          cursor: pointer;
     }
}